[submodule "ceitsa"]
	path = ceitsa
	url = git@git.vauxoo.com:vauxoo/ceitsa.git
	branch = 17.0
[submodule "brand"]
	path = brand
	url = git@github.com:OCA/brand.git
	branch = 17.0
[submodule "sale-workflow"]
	path = sale-workflow
	url = git@github.com:Vauxoo/sale-workflow.git
	branch = 17.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 17.0
